<div class="cookie-notification" role="alert" aria-live="assertive" data-cookie-notification>
  <p>
    This website doesn't really use cookies, but we use a cookie notification for this experiment. We request you to click on ‘Accept’ just because. For more information read our <a href="/">"Privacy Policy</a>
  </p>
  <button type="button" class="cookie-notification__button" data-cookie-notification-accept-button>Accept</button>
</div>
