---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% block main %}
  <div class="container mx-auto px-4">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span>
    </div>
  </div>
{% endblock %}
